* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --bg-color: #333333;
  --primary-text-color: #ffffff;
  --accent-text-color: red;
  --card-color: #444444;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

.categorylist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  a {
    color: var(--primary-text-color);
  }
}

.catcard {
  background-color: var(--card-color);
  padding: 3rem 1rem;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease;
}

@media (min-width: 600px) {
  .categorylist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    padding: 5rem;
  }
}
